{% comment %} .custom-carousel-img {
    height: 200px; /* Controls image height */
    object-fit: cover;
    border-radius: 10px;
} {% endcomment %}
*{
    padding: 0;
    margin: 0;
    box-content: border-box;
}